header {
  min-height: 17vh;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  justify-content: flex-start;
  align-items: center;
  color: #520369;
  font-family: 'Quicksand', sans-serif;
}

footer {
  min-height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e8ea;
}

.App-body {
  background-color: #fff;
  min-height: 74vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(241, 226, 13);
}
